<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="sap_api_after_place_order" instance="Sigma\SAPIntegration\Observer\SapOrderObserver" />
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="sap_credit_memo_after_return" instance="Sigma\SAPIntegration\Observer\SapCreditMemoObserver" />
    </event>

</config>
